/* BASIC SETTS  */
:root {
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --back-color: #2f303a;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.no-style {
  list-style: none;
}
.link-line {
  text-decoration: none;
}

/* /BASIC SETTS */

/* HEADER */

.logo-header {
  margin-right: 90px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;

  color: #000000;
}
.logo-span {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;

  color: var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
  padding: 0 215px;
  height: 80px;
}
.main-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}
.menu-item + .menu-item {
  margin-left: 50px;
}
.menu-link {
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-link {
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* /HEADER */

/* HERO */

.hero {
  background: var(--back-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.order-btn {
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
}
.order-btn:hover,
.corder-btn:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
/* /HERO */

/* BEST FEATURES SECTION */

.features-title {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-desc {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: inherit;
  color: var(--paragraph-text-color);
}

/* /BEST FEATURES SECTION */

/* WHAT WE DO SECTION */

.what-we-do {
}
.suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: inherit;
  color: var(--title-text-color);
}

/* /WHAT WE DO SECTION */

/* OUR TEAM SECTION */
.team {
  background: #f5f4fa;
}
.team-profiles {
}
.team-photo {
}
.team-card {
  width: 270px;
  height: 368px;
  background-color: var(--primary-white-color);
  display: flex;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: var(--title-text-color);
}
.team-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: var(--paragraph-text-color);
}
/* /OUR TEAM SECTION */

/* PORTFOLIO PAGE */

.portfolio {
}

.portfolio-title {
  display: none;
}
.portfolio-filter {
}
.filter-btn {
  background: #f5f4fa;
  width: auto;
  height: 38px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--title-text-color);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio-samples {
}
.sample-card {
  width: 370px;
  height: 404px;
  background-color: var(--primary-white-color);
  display: flex;
}
.samples-img {
}
.samples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.samples-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: inherit;
  color: var(--paragraph-text-color);
}
/* /PORTFOLIO PAGE */

/* FOOTER */

.footer {
  background: var(--back-color);
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: var(--primary-white-color);
}

.address-foot {
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: var(--primary-white-color);
}
.contacts-foot {
  color: var(--primary-white-color);
  opacity: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
}
.contacts-foot:hover,
.contacts-foot:focus {
  color: var(--accent-color);
}
/* /FOOTER */
